{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center py-5">
    <div class="col-md-5">
        <div class="card auth-card">
            <div class="card-header"><i class="bi bi-lock me-2"></i>Set New Password</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary w-100">Reset Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
